<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.intra.devproxy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/YOUR_USER/scripts/devproxy</string>
		<string>up</string>
	</array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/YOUR_USER</string>
        <key>SUDO_USER</key>
        <string>YOUR_USER</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/devproxy.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/devproxy.log</string>
</dict>
</plist>
