<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.intra.devproxy</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/username/scripts/devproxy</string>
		<string>up</string>
	</array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/devproxy.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/devproxy.log</string>
</dict>
</plist>
